 .u-section-1 {
  background-image: url("/images/133837538_49d0fbcd-b7de-448c-bb6f-cfb2d358e886.jpg?rand=51bf");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: Poppins;
  font-weight: 800;
  text-shadow: 2px 2px 40px rgba(0,0,0,1);
  width: 707px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.3;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease;
  font-style: normal;
  margin: 50px 217px 0;
}

.u-section-1 .u-text-2 {
  font-family: ProductSansBold;
  width: 456px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 342px;
}

.u-section-1 .u-group-1 {
  width: 693px;
  min-height: 85px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(163,85,89,0.4);
  transition-duration: 0.5s;
  --radius: 21px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 50px auto 0 224px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-3 {
  font-family: ProductSansBold;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(107,71,72,0.4);
  font-family: ProductSansBold;
  width: 395px;
  margin: 19px 373px 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-text-1 {
    transition-duration: 0.5s;
    margin-left: 117px;
    margin-right: 117px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 242px;
    margin-right: 242px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 273px;
    margin-right: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 132px;
    margin-right: 132px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 163px;
    margin-right: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 73px;
    margin-right: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.11) !important;
  border-radius: 20px !important;
}

.u-section-1 .u-group-1 {
  border-color: transparent !important;
}

.u-section-1 .u-group-1:before {
  background-image: linear-gradient(to right, #478ac9, #f1b5b8) !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.11) !important;
  border-radius: 20px !important;
}

.u-section-1 .u-group-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c516-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-c516-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c516-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-c516-24:not([data-block-selected]):not([data-cell-selected]).u-block-c516-24:not([data-block-selected]):not([data-cell-selected]).u-block-c516-24:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-block-c516-24:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-c516-24:not([data-block-selected]):not([data-cell-selected]).u-block-c516-24:not([data-block-selected]):not([data-cell-selected]).u-block-c516-24:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-block-c516-24:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-c516-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c516-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: url("/images/133837538_49d0fbcd-b7de-448c-bb6f-cfb2d358e886.jpg?rand=02fa");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 692px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  font-family: Poppins;
  width: 394px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-video-1 {
  width: 1095px;
  height: 616px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0px 0 rgba(0,0,0,0);
  filter: brightness(0.85);
  margin: 25px auto -3px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-2 .u-text-1 {
    width: 395px;
  }

  .u-section-2 .u-video-1 {
    width: 940px;
    height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}

.u-block-5223-3:not([data-block-selected]):not([data-cell-selected]),
.u-block-5223-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5223-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5223-3:not([data-block-selected]):not([data-cell-selected]).u-block-5223-3:not([data-block-selected]):not([data-cell-selected]).u-block-5223-3:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-block-5223-3:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-5223-3:not([data-block-selected]):not([data-cell-selected]).u-block-5223-3:not([data-block-selected]):not([data-cell-selected]).u-block-5223-3:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-block-5223-3:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-5223-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-5223-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-video-1,
.u-section-2 .u-video-1:before,
.u-section-2 .u-video-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-video-1.u-video-1.u-video-1:hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-video-1 {
  border-color: transparent !important;
}

.u-section-2 .u-video-1.u-video-1.u-video-1.hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-video-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-video-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-video-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  font-weight: 700 !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  font-weight: 700 !important;
} .u-section-3 {
  background-image: url("/images/133837538_49d0fbcd-b7de-448c-bb6f-cfb2d358e886.jpg?rand=02fa");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 396px;
}

.u-section-3 .u-text-1 {
  transition-duration: 0.5s;
  font-family: Poppins;
  width: 395px;
  font-weight: 700;
  margin: 65px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 136px -25px 0 auto;
}

.u-section-3 .u-repeater-1 {
  min-height: 20px;
  grid-auto-columns: 100%;
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
}

.u-section-3 .u-group-1 {
  width: 398px;
  min-height: 130px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(163,85,89,0.4);
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: linear-gradient(#478ac9, #db545a);
  margin: -102px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-2 {
  font-family: ProductSansBold;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-family: ProductSansBold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 395px;
  margin: 20px auto 48px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  font-weight: 700 !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  font-weight: 700 !important;
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1) !important;
  border-radius: 50px !important;
}

.u-section-3 .u-group-1 {
  border-color: transparent !important;
}

.u-section-3 .u-group-1:before {
  background-image: linear-gradient(#db545a, #478ac9) !important;
}

.u-section-3 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1) !important;
  border-radius: 50px !important;
}

.u-section-3 .u-group-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}@font-face {
  font-family: 'ProductSansBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ProductSansBold.ttf);
}